extends layout

//The main game interface
block content
	.container
		.row
			.col-lg-8
				//This is a placeholder for the game map
				//TODO render map in canvas
				img.img-responsive(src="/img/starfield.jpeg" alt="game map placeholder")
				p Some status text
			.col-lg-4
				button.btn.btn-default Command 1
				button.btn.btn-default Command 2
				button.btn.btn-default Command 3
				button.btn.btn-default Command 4
