extends layout

//The main game interface (mockup)
block content
	.container
		h3= _gameName
		.row
			.col-lg-8
				//This is a placeholder for the game map
				//TODO render map in canvas
				canvas#canvas(width="1600" height="1600") Sorry, your browser doesn't support the CANVAS element
				//img.img-responsive(src="/img/starfield.jpeg" alt="game map placeholder")
				p#statusText Some status text
			.col-lg-4
				button.btn.btn-default Command 1
				button.btn.btn-default Command 2
				button.btn.btn-default Command 3
				button.btn.btn-default Command 4

block otherScripts
	script(type="text/javascript").
		var mapData = !{JSON.stringify(_galaxyData)};
	script(src="/js/drawMap.js")
