extends layout

block content
	.container
		.page-header
			h1 Active games
		.row
			.col-lg-12
				table.table.table-responsive.table-hover
					th
						td Game name
						td Number of players
						td Turn
					each game in gamelist
						tr.clickable-row(data-href="#{game.gameurl}")
							//TODO script this like http://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
							td #{game.gamename}
							td #{game.numplayers}
							td #{game.currentturn}