extends layout

// Front landing page
block content
	.jumbotron
		h1.text-uppercase.text-center= title
	.container
		.row
			.col-md-8
				// Great placeholder site, btw
				img.img-responsive(src="https://spaceholder.cc/800x600")
			.col-md-4
				p.lead Compelling description goes here
				a.btn.btn-default(href="/login")
					span.glyphicon.glyphicon-user
					| #{' '}Log in
				a.btn.btn-default(href="/signup")
					span.glyphicon.glyphicon-user
					| #{' '}Sign up

