extends layout

// Front landing page
block content
	.jumbotron
		h1.text-center= title
	.container
		.row
			.col-md-8
				img.img-responsive(src="https://spaceholder.cc/800x600")
			.col-md-4
				p Compelling description goes here

